/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

body{
    color: #252525;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
}

.darkSection{
    background-color: var(--color1);
}

.reverse main{
    flex-direction: row-reverse; /* inverte a ordem*/
}

.darkSection main h1{
    color: var(--color2);
}

.lightSection main h1{
    color: var(--color1);
}



.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* isso faz com que as seções aumentem caso o texto exceda a altura e não fique transbordando pra fora da página*/
}

.sections main{
    display: flex;
    width: 90%;
    height: 80%;
}



.sections main .firstContainer,.secondContainer{
    font-size: 14px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
}

.sections main .secondContainer img{
    width: 100%;
    border-radius: 60px 0px 60px 0px;
}

#hopTechLogo{
    border-radius: 0;
}

.section main .firstContainer h1, p{
    text-align: justify;
}

.sections main .firstContainer .buttonBox{
    padding: 1em;
    display: flex;
}

.sections main .firstContainer .buttonBox button{
    font-size: 1em;
    border-radius: 500px;
    padding: 1em 7em;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--color1);
    color: #000000;
}


.sections main .firstContainer .titleBox{
    padding: .5em 0;
}

.sections main .firstContainer .inputBox .inputs{
    display: flex;
    padding: .5em 0;
    flex-direction: column;
}

.sections main .firstContainer .inputBox .inputs input{
    width: 80%;
    padding: 1em;
    border-radius: 500px;
    border: none;
    outline: none;
}

.sevenContainer{
    display: flex !important; 
    flex-direction: row !important;
    align-items: center !important;       
    justify-content: space-around !important; 
}

#contactButton{
    background: var(--color2);
}


.sections main .secondContainer .topics{
    display: flex;
    flex-direction: column;
}

.sections main .secondContainer .topics * {
    padding: 5px;
}

.sections main .secondContainer .topics .socialMedia{
    display: flex;
}

.sections main .secondContainer .topics .socialMedia a{
    color: #000000;
}

button:hover{
    transition: .5s;
    filter: contrast(150%);
}
#bannerImg {
    width: 100%;   
    height: 100%;
}   

a{
    text-decoration: none;
}

.graficosCamara {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

.graficosCamara img {
    width: 500px;
    margin: 5px;
    margin-top: 25px;
}

.secondContainer{
    width: 100%;
}

p{
    text-align: left;
    font-size: 18px;
}

.btn_area_dark{
    background-color: red;
    border: solid;
}

.rodape{
    display: flex;
    justify-content: space-between;
}

.listadeputados{
    padding: 5%;
    padding-top: 2%;

}