@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

body{
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Times New Roman', Times, serif;
}

.darkSection{
    background-color: var(--color1);
}

.reverse main{
    flex-direction: row-reverse; /* inverte a ordem*/
}

.darkSection main h1{
    color: var(--color2);
}

.lightSection main h1{
    color: var(--color1);
}



.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* isso faz com que as seções aumentem caso o texto exceda a altura e não fique transbordando pra fora da página*/
}

.sections main{
    display: flex;
    width: 90%;
    height: 80%;
}



.sections main .firstContainer,.secondContainer{
    font-size: 14px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
}

.sections main .secondContainer img{
    width: 80%;
    border-radius: 20px;
}

#hopTechLogo{
    border-radius: 0;
}

.section main .firstContainer h1, p{
    text-align: justify;
}


.sections main .firstContainer .buttonBox button{
    font-size: 1em;
    border-radius: 10px;
    padding: 1em 7em;
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--color1);
    color: #000000;
    position: relative;
top: 150%;
}


.sections main .firstContainer .titleBox{
    padding: .5em 0;
}

.sections main .firstContainer .inputBox .inputs{
    display: flex;
    padding: .5em 0;
    flex-direction: column;
}

.sections main .firstContainer .inputBox .inputs input{
    width: 80%;
    padding: 1em;
    border-radius: 500px;
    border: none;
    outline: none;
}

.sevenContainer{
    display: flex !important; 
    flex-direction: row !important;
    align-items: center !important;       
    justify-content: space-around !important; 
}

#contactButton{
    background: var(--color2);
}


.sections main .secondContainer .topics{
    display: flex;
    flex-direction: row;
    position: relative;
left: 9%;
}

.sections main .secondContainer .topics * {
    padding: 5px;
}

.sections main .secondContainer .topics .socialMedia{
    display: flex;
}

.sections main .secondContainer .topics .socialMedia a{
    color: #000000;
}

button:hover{
    transition: .5s;
    filter: contrast(150%);
}
#bannerImg {
    width: 100%;   
    height: 100%;
}   

a{
    text-decoration: none;
}

.graficosCamara {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

.graficosCamara img {
    width: 500px;
    margin: 5px;
    margin-top: 25px;
}

.secondContainer{
    width: 100%;
}

.firstContainer p{
    font-size: 21px;
width: 100%;
position: relative;
top: 16%;
}
p{
    text-align: left;
    font-size: 18px;
    width: 50%;
}

.btn_area_dark{
    background-color: red;
    border: solid;
}

.rodape{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    

.socialMedia{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 17%;
    margin-top: -33px;
}

.topics h1{
    position: absolute;
    left: 28.5%;
    margin-top: -5px;
    opacity: 80%;    
}

.rodape_contatos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
right: 6%;
}

.listadeputados{
    padding: 5%;
    padding-top: 2%;

}

.rua{
    width: 100%;
}

.bloco1, .bloco2, .bloco3, .bloco4{
    display: flex;
    flex-direction: row;
}

.divisao_metricas{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#chart{
    display: flex;
    width: 700px !important;
    height: 100% !important;
}

.listadeputados .dep_container{
    display: flex;
    flex-direction: column;
}

.listadeputados .dep_container table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deputados {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.listadeputados .dep_container #graficosLikeDislike{
    width: 100%;
    display: flex;
}

.listadeputados .dep_container #graficosLikeDislike canvas{
    display: flex;
    width: 50%;
    height: 50%;
}
